<h1>Eat the burger</h1>

<h2>Burgers that need to be devoured!</h2>

<ul>
  <!-- this is the table -->
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devourable=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devourable=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label form="bu">New Burger:</label>
    <input type="text" id="bu" name="burger_name">
  </div>

  <!-- <div class="form-group">
    <label for="sleep">devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> devoured!<br>
    <input type="radio" name="devoured" value="0"> needs to be devoured
  </div> -->

  <button type="submit">Add a burger</button>
</form>
